<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<%- include nav.ejs %>


<div class="Information-text">
    <div class="width">
        <div class="Information-text-title"><%= data.title %></div>
        <div class="information-page-data">
            <span><i class="fa fa-clock-o"></i><%= data.postDate %></span>
        </div>
        <div class="Information-text-photo">
            <div class="Information-text-photo-img" style="background-image: url(<%= data.image %>);"></div>
        </div>
        <div class="Information-text-body row">
            <div class="col-xs-6 info-detail-left">
                <p>location: <%= data.location %></p>
                <p>breed: <%= data.species %></p>
                <% if(data.status=='lost'){ %>
                <p>lost date: <%= data.eventDate %></p>
                <% }else{%>
                <p>found date: <%= data.eventDate %></p>
                <% }%>
                <p>status: <%= data.status %></p>
                <p>description: <%= data.description %></p>
                <form>
                    <p><button class="btn btn-success" data-bind="click:updateStatus" type="button">Close this case</button></p>
                    <div class="form-group" style="display:none">
                        <input id="comment-uid" class="form-control" value="<%= data.user_id %>">
                    </div>
                </form>
            </div>
            <div class="col-xs-6 info-detail-right">
                <form>
                    <div class="form-group" style="display:none">
                        <input id="detail-email" class="form-control" value="<%= data.email %>">
                    </div>
                    <div class="form-group">
                        <input data-bind="value: myemail" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea data-bind="value: message" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary" type="button" data-bind="click:submitEmail">Send</button>
                </form>
            </div>
        </div>
        <div class="Information-text-thisYouComments">
            <form>
                <span>Comments</span>
                <div class="form-group" style="display:none">
                    <input id="comment-rid" class="form-control" value="<%= data.report_id %>">
                </div>
                <textarea placeholder="write down your comments" data-bind="value:commentContent"></textarea>
                <button data-bind="click:submitComment" type="button">Submit Comments</button>
            </form>
        </div>

        <div class="Information-text-Comments">
            <% for (let i of comments ){ %>
            <div class="Information-text-Comments-info">
                <div class="Comments-info-userData">
                    <span class="Comments-info-userData-name"><%= i.username %></span>
                    <span class="Comments-info-userData-time"><%= i.timestap %></span>
                </div>
                <p><%= i.content %></p>
            </div>
            <% } %>
        </div>

    </div>
</div>


<script src="/js/detail.js"></script>
</body>
</html>