<!DOCTYPE html>
<html>
<%- include head.ejs %>
<body>
<%- include nav.ejs %>
<div class="information">
    <div class="width">
        <% if(data.type == 'reportLost') { %>
            <%- include report-lost.ejs %>
        <% }else if(data.type == 'reportFound'){ %>
            <%- include report-found.ejs %>
        <% } %>

        <%- include information-box.ejs %>
    </div>
</div>
<script src="/js/information.js"></script>
</body>
</html>