<div class="info-box">
    <div class="info-box-image">
        <img src="<%= i.image %>" />
    </div>
    <div class="info-box-info">
        <h1><%= i.title %></h1>
        <!--<p class="text"><%= i.description %></p>-->
        <p>location: <%= i.location %></p>
        <p>lostDate: <%= i.eventDate %></p>
        <div class="info-box-bot">
            <span><i class="fa fa-clock-o"></i><%= i.postDate %></span>
            <!--<span><i class="fa fa-eye"></i><%= i.eye %></span>-->
            <!--<span><i class="fa fa-commenting"></i><%= i.commenting %></span>-->
        </div>
    </div>
</div>
